.swiper-pagination {
  position: relative;
  padding-top: 24px;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid white;  
}

.swiper-pagination-bullet-active {
  transition: all 0.5s ease-in-out;
  background: white;
}
