@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

/* @font-face {
  font-family: 'PilcrowRounded';
  src: url('../assets/fonts/PilcrowRounded-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'PilcrowRounded';
  src: url('../assets/fonts/PilcrowRounded-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'PilcrowRounded';
  src: url('../assets/fonts/PilcrowRounded-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'PilcrowRounded';
  font-display: swap;
  src: url('../assets/fonts/PilcrowRounded-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
} */

@font-face {
  font-family: 'Sfizia';
  src: url('../assets/fonts/sfizia-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Sfizia';
  src: url('../assets/fonts/sfizia-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Sfizia';
  src: url('../assets/fonts/sfizia-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Sfizia';
  font-display: swap;
  src: url('../assets/fonts/sfizia-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    font-family: 'Sfizia', sans-serif;
  }
}

.multiSelectContainer li:hover {
  background: #f28316 !important;
}
